@import "tailwindcss";

@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-lexend: 'Lexend', sans-serif;
  --heartbeat-animation: heartbeat 3s ease-in-out infinite;
}

@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }
}

@layer utilities {
  .animate-heartbeat {
    animation: var(--heartbeat-animation);
  }
}

body {
  background-image: url('/hearts-bg.svg');
  background-position: left 40px bottom 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Base size for mobile devices */
  background-size: 80%;

  /* Responsive adjustments */
  @media (min-width: 640px) {
    background-size: 60%;
  }

  @media (min-width: 768px) {
    background-size: 50%;
  }

  @media (min-width: 1024px) {
    background-size: 40%;
  }
}